@model PantryManagementBudgetApp2.Models.PurchaseDto
@{
    ViewBag.Title = "Details";
}

<nav style="margin-bottom: 20px;">
    <a href="/Purchase/List">Go back</a> |
    <a href="/Purchase/Edit/@Model.PurchaseID">Update</a> |
    <a style="color:#ab2020;" href="/Purchase/DeleteConfirm/@Model.PurchaseID">Delete</a>
</nav>
<h2>@Model.PeriodYear-<span id="monthFormatted"></span></h2>

<div>Pantry Item: <a href="/PantryItem/Details/@Model.PantryItemID">@Model.PantryItemName</a></div>
<div>Quantity: @Model.Qty</div>
<div>Unit Price: @Model.UnitPrice</div>

<script>
    let monthFormatted = document.getElementById("monthFormatted");

    if (@Model.PeriodMonth < 10) {
        monthFormatted.innerHTML = "0" + @Model.PeriodMonth;
    } else {
        monthFormatted.innerHTML = @Model.PeriodMonth;
    }
</script>
