@model PantryManagementBudgetApp2.Models.ViewModels.UpdatePurchase
@{
    ViewBag.Title = "Edit";
}

<h2>Update Purchase</h2>

<form action="/Purchase/Update/@Model.SelectedPurchase.PurchaseID" method="post">
    <div style="display:none">
        @* Pass through purchase ID *@
        <input type="text" name="PurchaseID" value="@Model.SelectedPurchase.PurchaseID" />
    </div>

    <div>
        <label>Period:</label>
        <select name="PeriodId" value="@Model.SelectedPurchase.PeriodId">
            @foreach (var periods in Model.PeriodOptions)
            {
                <option value="@periods.PeriodId">@periods.PeriodYear-@periods.PeriodMonth</option>
            }
        </select>

    </div>

    <div>
        <label>Pantry Item:</label>
        <select name="PantryItemID" value="@Model.SelectedPurchase.PantryItemID">
            @foreach (var pantryitem in Model.PantryItemOptions)
            {
                <option value="@pantryitem.PantryItemID" @(pantryitem.PantryItemID == Model.SelectedPurchase.PantryItemID ? "selected" : "")>
                    @pantryitem.PantryItemName
                </option>
            }
        </select>
    </div>

    <div>
        <label>Unit Price:</label> <input type="number" name="PurchaseUnitPrice" value="@Model.SelectedPurchase.UnitPrice"/>
    </div>
    <div>
        <label>Quantity:</label> <input type="number" name="PurchaseQty" value="@Model.SelectedPurchase.Qty"/>
    </div>


    <div>
        <input type="submit" value="Update Purchase" />
    </div>
</form>
